<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat','sans-serif';
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .05rem;
    margin-top: 5px;
    font-weight: 300;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.section-title span{
    color: crimson;
}
 .cta{
    display: inline-block;
    padding: 10px 20px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    }
.cta:hover{
    color: white;
    background-color: crimson;
    }
.brand h1{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
}
.brand h1 span{
    color: crimson;
}

#hero{
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 10px;
    justify-content: flex-start;
}
#hero h1{
    margin: 0;
    display: block;
    width: fit-content;
    position: relative;
    font-size: 4rem;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5 ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span {
    animation-delay: .5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}





#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0px auto;
    padding: 100px 0;
}


#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;   
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/services.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}
#services .service-bottom .icon{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}
#services .service-bottom h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .service-bottom p{
    color: white;
    text-align: left;
}


#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .project-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    height: 100%;
    flex-basis: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px ;
    margin-bottom: 0px ;
    
}
#projects .project-info p{
    color: white;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .6;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-items:hover .project-img img{
    transform: scale(1.1);
}

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0px;
    padding-right: 20px;
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.8rem;
    letter-spacing: .2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
}
#about .col-right .cta{
    margin-bottom: 50px;
}
#about .col-left .about-img{
    height: 50%;
    width: 50%;
    position: absolute;
    border: 6px solid white;
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    top: 19px;
    left: -33px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;

}

#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 300px;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon{
    width: 90px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    margin-bottom: 5px;
    font-weight: 500;
}
#contact .contact-info h2{
    font-size: 1.5rem;
    font-weight: 500;
}

#footer{
    width: 100vw;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    font-size: 1.8rem;
    color: white;
    letter-spacing: .2rem;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1rem;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item {
    width: 50px;
    height: 50px;
    margin: 0 7px;
}
#footer .social-icon img{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
#footer h3{
    color: white;
}


@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: 500px;
    }
}

@media only screen and (min-width: 765px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    .section-title{
        font-size: 6rem;
    }
    #hero h1{
        font-size: 7rem;
    }
    #services .service-bottom .service-item{
        flex-basis: 35%;
        margin: 2.5%;
    }
    #projects .project-items{
        flex-direction: row;
        height: 300px;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    #projects .project-items:nth-child(even){
        flex-direction: row-reverse;
    }
    #about .about{
        flex-direction: row;
    }
    #about .col-left .about-img {
        width: 200px;
        height: 300px;
    }
    #about .col-left{
        padding-left: 25px;
        padding-right: 20px;
    }
    #about .col-right{
        padding-left: 50px;
        height: 500px;
        width: 80%;
        text-align: left;
    }
    #about .section-title{
        text-align: left;
    }
}
